.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env-prod
.venv*
env/
venv/
ENV/
env.bak/
venv.bak/
service_account.json

# Log files
logs/
*.log

# Notebooks
*.ipynb

exports/
